@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
    get value out of map:
    map-get($corols, "key") 

    check if value exists (returns true / false):
    map-has-key($colors, "key")

    remove value:
    map-remove($colors, "key")

    add value:
    map-merge($colors, ("key": "value"))

*/
/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #326dee;
  color: #DDD;
  padding: 1rem;
  display: flex;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #DDD;
  color: #222;
}

ul {
  padding: 0;
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: #326dee;
}

a:hover {
  opacity: 0.75;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin-bottom: 1rem;
}

div {
  margin: 1rem auto;
  padding: 1rem;
  background-color: #CCC;
  border-radius: 1rem;
}

h1 {
  color: #326dee;
  line-height: 1;
  margin-bottom: 1rem;
}

header h2 {
  line-height: 1;
}

.error {
  color: #d32752;
  border: 1px solid #d32752;
  padding: 0 0.5rem;
}

.notification {
  color: #1aa855;
  border: 1px solid #1aa855;
  padding: 0 0.5rem;
}

.information {
  color: DarkGoldenRod;
  border: 1px solid DarkGoldenRod;
  padding: 0 0.5rem;
}

button {
  font-family: inherit;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #326dee;
  padding: 0.5rem 0;
  min-width: 5rem;
}

button:hover {
  opacity: 0.75;
}

button:active {
  transform: scale(0.95);
}

.section {
  max-width: 1000px;
}

.card {
  display: block;
  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  margin: 0;
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card a {
  text-decoration: underline;
}