@use 'variables' as *;

/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: $primary;
  color: $bgcolor;
  padding: $size-def;
  display: flex;
}

body {
  font-family: $font;
  background-color: $bgcolor;
  color: $text-general;
}

ul {
  padding: 0;
  list-style-type: none;
}

a, 
a:visited {
  text-decoration: none;
  color: $link-general;
}

a:hover {
  opacity: $opacity-hover;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin-bottom: $size-def;
}

div {
  margin: $size-def auto;
  padding: $size-def;
  background-color: $bgcolor-secondary;
  border-radius: $size-def;
}