$bgcolor: #DDD;
$bgcolor-secondary: #CCC;

$primary: #326dee;
$secondary: #1aa855;
$error: #d32752;
$info: #f6c31c;

$text-general: #222;
$link-general: $primary;

$btncolor-primary: #fff; 

$opacity-hover: 0.75;
