@use 'variables' as *;

// buttons

button {
    font-family: inherit;
    font-size: 1.2rem;
    color: $btncolor-primary;
    border: none;
    border-radius: 5px;
    background-color: $primary;
    padding: 0.5rem 0;
    min-width: 5rem;
}

button:hover {   
    opacity: $opacity-hover;
}

button:active {
    transform: scale(0.95);
}

// divs

.section {
    max-width: 1000px;
}