@use 'variables' as *;

// mixins

@mixin btn($btncolor: $primary) {
    font-family: inherit;
    font-size: 1.2rem;
    color: map-get($colors, "white") ;
    border: none;
    border-radius: $size-double;
    padding: $size-half $size-def;
    background-color: $btncolor;
    margin-right: $size-def;
    cursor: pointer;

    &:hover {
        opacity: $opacity-hover;
    }

    &:active {
        transform: scale(0.95);
    }
}

// buttons

.button {
    @include btn;
}

.button-error {
    @include btn($error);
}

// divs

.section:hover {
    box-shadow: 0 0 10px map-get($colors, "gray");
}

.card {
    display: block;
    padding: $size-def;
    border: 1px solid #ddd;
    box-shadow: $base-box-shadow;
    max-width: 60%;
    margin: 0;
    
    .card-title{
        font-size: $size-def;
        padding-bottom: $size-def;
        font-weight: bold;
    }

    .card-body {
        font-size: $size-def;
    }

    a {
        text-decoration: underline;
    }
}