@use 'helpers' as *;

h1 {
    color: $primary;
    line-height: 1;
    margin-bottom: $size-def;
}

header h2 {
    line-height: 1;
}

span {
    white-space: nowrap;
}

.error {
    color: $error;
    border: 1px solid $error;
    padding: 0 $size-half;
}

.notification {
    color: $secondary;
    border: 1px solid $secondary;
    padding: 0 $size-half;
}

.information {
    color: $info;
    border: 1px solid $info;
    padding: 0 $size-half;
}