@use 'variables' as *;

h1 {
    color: $primary;
    line-height: 1;
    margin-bottom: 1rem;
}

header h2 {
    line-height: 1;
}

.error {
    color: $error;
    border: 1px solid $error;
    padding: 0 0.5rem;
}

.notification {
    color: $secondary;
    border: 1px solid $secondary;
    padding: 0 0.5rem;
}

.information {
    color: $info;
    border: 1px solid $info;
    padding: 0 0.5rem;
}