@use 'sass:math';

// Effects

$opacity-hover: 0.75;

// Fonts

$font: Poppins, sans-serif;
$base-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);

// size

$size-def: 1rem; 
$base-padding: 1rem;
$size-half: math.div($size-def, 2);
$size-double: $size-def * 2;

// Utility map

$utilities: (
    "padding": (
        "prefix": "p",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8
        ),
    ),
    "padding-left": (
        "prefix": "pl",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8
        ),
    ),
);

@each $property, $map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k, $v in $values {
        @if($k == "default") {
            .#{$prefix} {
                #{$property}: $v;
            } 
        } @else {
            .#{$prefix}-#{$k}{
                #{$property}: $v;
            }
        }
    }
}