@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Colors

$bgcolor: #DDD;
$bgcolor-secondary: #CCC;

$primary: #326dee;
$secondary: #1aa855;
$error: #d32752;
$info: DarkGoldenRod;

$text-general: #222;
$link-general: $primary;

$btncolor-primary: #fff; 

// Effects

$opacity-hover: 0.75;

// Fonts

$font: Poppins, sans-serif;
$base-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);

// size

$size-def: 1rem; 
$size-half: $size-def * 0.5;


